body{
    background-color: black;
    background-image: url(../images/Praia.png);
    background-size: cover; /* Ajusta para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetições */
}